@model coderush.Models.introduce

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<h2>Details</h2>

<div>
    <h4>introduce</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.in_logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_updated_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.in_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
