@model coderush.Models.staff

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.group_role.gr_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group_role.gr_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sta_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sta_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sta_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sta_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sta_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sta_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sta_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sta_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sta_created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sta_created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sta_update_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sta_update_at)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
